<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.voxhub.accessibility.servicecode" >
  <application>
    <service android:name=".MyAccessibilityService"
        android:enabled="true"
        android:exported="true"
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
        android:label="Voice Next Page">
        <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>
        <meta-data
            android:name="android.accessibilityservice"
            android:resource="@xml/accessibility_service_config" />
    </service>
  </application>

</manifest>
